<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
     <form action="/post" method="post">
        <p>문장을 입력하세요 : <input type="text" name="test"></p>
<!--        <p>해당 페이지에서 원하는 정보를 입력하세요 : <input type="text" name="text1"></p>-->
<!--        <p>해당 페이지에서 원하는 정보를 입력하세요 : <input type="text" name="text2"></p>-->
<!--        <p>해당 페이지에서 원하는 정보를 입력하세요 : <input type="text" name="text3"></p>-->
        <input type="submit" value="욕설인지 테스트하기">
    </form>

</body>
</html>